
.namaContainer {
  position: relative; 
  overflow: hidden; 
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.namaContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -180%; 
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6), 
    transparent
  );
  transform: skewX(-30deg); 
  transition: left 0.9s ease-in-out;
  z-index: 1; 
}


.namaContainer:hover {
  transform: scale(1.05); 
  box-shadow: 0 0.25em 0.8em rgba(249, 75, 23, 0.4); 
}

.namaContainer:hover::before {
  left: 120%; 
}

.namaContainer > span {
    position: relative;
    z-index: 2;
}