.chatButton {
  position: relative;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  
  transition: transform 0.3s ease;
  font-size: var(--button-font-size, 1.5vw); 

}

.buttonVisuals {
  position: relative;
  display: block;
  z-index: 1;
  padding: 0.5em 1em 0.5em 3em;
  background-color: #f94b17;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.buttonVisuals::before {
  content: '';
  position: absolute;
  top: 0;
  left: -180%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  transform: skewX(-30deg);
  transition: left 0.9s ease-in-out;
  z-index: 1;
}

.buttonText {
  position: relative;
  z-index: 2;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.chatButton:hover {
  transform: scale(1.05);
}

.chatButton:hover .buttonVisuals::before {
  left: 120%;
}

.chatButton:hover .buttonVisuals {
  box-shadow: 0 0.25em 0.8em rgba(249, 75, 23, 0.4);
}